@font-face {
	font-family: "iconfont"; /* Project id 3499908 */
	src: url("../fonts/iconfont.woff2?t=1656951161269") format("woff2"), url("../fonts/iconfont.woff?t=1656951161269") format("woff"), url("../fonts/iconfont.ttf?t=1656951161269") format("truetype");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-danhuangsu:before {
	content: "\e63a";
}

.icon-binggan:before {
	content: "\e63c";
}

.icon-buding:before {
	content: "\e63d";
}
