<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    <h1>欢迎{{name}}来学习</h1>
    姓：<input type="text" v-model="firstName"> <br>
    名：<input type="text" v-model="lastName"><br>
    名：<input type="text" v-model="xs"><br>
    全名：{{fullName()}}
    <br>
    methods会频繁调用
  </div>
  <script>
    Vue.config.productionTip = false
    const vm = new Vue({
      el: "#root",
      data: {
        name: "xwwwb",
        firstName: "张",
        lastName: "三",
        xs: 's'
      },
      methods: {
        fullName() {
          console.log("@---fullName") // fullName会频繁调用
          return this.firstName + "-" + this.lastName
        }
      }
    })
  </script>
</body>

</html>